In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#!pip install webdriver-manager

# Importing selenium webdriver 
from selenium import webdriver 
from webdriver_manager.chrome import ChromeDriverManager

#connect to the webdriver
driver = webdriver.Chrome(ChromeDriverManager().install())


# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Neeti\.wdm\drivers\chromedriver\win32\92.0.4515.107]

In [48]:
#Opening the url
url='https://www.olx.in/'
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used Sedan cars

In [49]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()                                                                # Clicking the button to start search

In [51]:
# scrape all product urls
urls=[]
for i in range(0,1):#for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [52]:
urls

['https://www.olx.in/item/bmw-7-series-750li-sedan-2009-petrol-iid-1646044011',
 'https://www.olx.in/item/bmw-5-series-530i-sedan-2008-petrol-iid-1649152264',
 'https://www.olx.in/item/bmw-5-series-525i-sedan-2008-petrol-iid-1632764011',
 'https://www.olx.in/item/bmw-5-series-523i-sedan-2010-petrol-iid-1650118485',
 'https://www.olx.in/item/bmw-5-series-530d-highline-sedan-2009-diesel-iid-1646632565',
 'https://www.olx.in/item/bmw-5-series-2010-2013-520d-sedan-2010-diesel-iid-1638911133',
 'https://www.olx.in/item/bmw-5-series-530i-sedan-2008-petrol-iid-1649301615',
 'https://www.olx.in/item/bmw-3-series-325i-sedan-2008-petrol-iid-1534169782',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2011-diesel-iid-1631874896',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2015-diesel-iid-1650092709',
 'https://www.olx.in/item/sell-or-exchange-with-cng-sedan-iid-1650866261',
 'https://www.olx.in/item/bmw-3-series-2005-2011-330d-sedan-2008-diesel-iid-1643560414',
 'https://www.olx.in/item/bmw-7-series-760i-sedan-2012-iid-1584440934',
 'https://www.olx.in/item/bmw-3-series-325i-sedan-2008-petrol-iid-1649857532',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2010-diesel-iid-1634000481',
 'https://www.olx.in/item/maruti-suzuki-alto-2007-exchange-with-sedan-car-diggi-howe-jiss-dr-iid-1650842909',
 'https://www.olx.in/item/best-condition-etios-g-petrol-sedan-for-sale-iid-1650835742',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2013-diesel-iid-1650830290',
 'https://www.olx.in/item/bmw-5-series-2010-2013-520d-sedan-2010-diesel-iid-1605473013',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2010-diesel-iid-1647050060']

In [53]:
len(urls)

20

In [3]:
#defining variables
model_list=[]
year_km_list=[]
location_list=[]
price_list=[]

In [55]:
#fetching price of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):
        price_list.append(j.text)
        
except NoSuchElementException:
    price_list.append('-')

In [56]:
price_list

['₹ 6,95,000',
 '₹ 5,45,000',
 '₹ 6,95,000',
 '₹ 5,49,000',
 '₹ 6,20,000',
 '₹ 5,75,000',
 '₹ 7,00,000',
 '₹ 5,80,000']

In [57]:
len(price_list)

8

In [58]:
#fetching year and km of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//div[@class="IKo3_"]/span[2]'):
        year_km_list.append(j.text)
        
except NoSuchElementException:
    year_km_list.append('-')

In [59]:
year_km_list

['2011 - 88,000 km',
 '2010 - 120,000 km',
 '2011 - 88,000 km',
 '2007 - 62,000 km',
 '2008 - 96,000 km',
 '2009 - 129,000 km',
 '2011 - 89,000 km',
 '2008 - 60,000 km']

In [60]:
len(year_km_list)

8

In [61]:
#fetching model of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_2tW1I"]'):
        model_list.append(j.text)
        
except NoSuchElementException:
    model_list.append('-')

In [62]:
model_list

['BMW 3 Series 320d, 2011, Diesel',
 'BMW 3 Series 320d Sedan, 2010, Diesel',
 'BMW 3 Series 320d, 2011, Diesel',
 'Audi A6 35 TDI, 2007, Diesel',
 'BMW 530d Diesel',
 'Audi A6 2009-2011 2.7 TDI, 2009, Diesel',
 'Mercedes-Benz New C-Class C 250 CDI Elegance, 2011, Diesel',
 'Audi A4 2008-2014 2.0 TDI Celebration Edition, 2008, Diesel']

In [63]:
len(model_list)

8

In [64]:
#fetching location of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="tjgMj"]'):
        location_list.append(j.text)
        
except NoSuchElementException:
    location_list.append('-')

In [65]:
location_list

['ANDHERI EAST, MUMBAI',
 'GOREGAON EAST, MUMBAI',
 'THANE WEST, THANE',
 'THANE BELAPUR ROAD, THANE',
 'ANDHERI EAST, MUMBAI',
 'THANE WEST, THANE',
 'ANDHERI EAST, MUMBAI',
 'DAHISAR EAST, MUMBAI']

In [66]:
len(location_list)

8

In [8]:
#Opening the url
url='https://www.olx.in/'
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used SUV cars

In [9]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()

In [10]:
product_urls = []
start=0
end=2
for page in range(start,end):#for loop for scrapping 2 page
    url=driver.find_elements_by_xpath('//li[@class="EIR5N"]//a')       #scraping urls
    for i in url:
        product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
    nxt_button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(2)

In [11]:
product_urls

['https://www.olx.in/item/hummer-h3-suv-2007-petrol-iid-1648640594',
 'https://www.olx.in/item/mahindra-commander-armada-bolero-thar-jeep-suv-off-road-type-iid-1634259732',
 'https://www.olx.in/item/alloy-wheels-for-all-cars-suv-price-starting-from-21000-4-iid-1524613407',
 'https://www.olx.in/item/good-condition-suv-car-top-model-iid-1650977853',
 'https://www.olx.in/item/exilent-suv-iid-1650929179',
 'https://www.olx.in/item/cars-suv-bikes-body-guard-roll-iid-1589196181',
 'https://www.olx.in/item/mahindra-quanto-suv-2015-7-seater-iid-1650901693',
 'https://www.olx.in/item/renault-captur-2019-suv-for-sale-dual-tone--iid-1650822454',
 'https://www.olx.in/item/best-7-seater-suv-iid-1650798486',
 'https://www.olx.in/item/suv-and-sedan-cars-i-give-rent-iid-1650683466',
 'https://www.olx.in/item/sparingly-used-personal-honda-brv-v-diesel-suv-iid-1650662486',
 'https://www.olx.in/item/excellent-compact-suv-with-good-mileage-of-22km-per-ltr-iid-1650625135',
 'https://www.olx.in/item/kia-seltos-gt-line-suv-year-2020-petrol-turbo-11000-km-driven-iid-1648332274',
 'https://www.olx.in/item/best-suv-untuch-iid-1650433465',
 'https://www.olx.in/item/hummer-h3-suv-2007-petrol-iid-1637745211',
 'https://www.olx.in/item/for-sale-suv-land-rover-iid-1650305046',
 'https://www.olx.in/item/hummer-h3-suv-2010-petrol-iid-1627702717',
 'https://www.olx.in/item/force-one-suv-iid-1561710472',
 'https://www.olx.in/item/urgent-selling-suv-new-nissan-kicks-iid-1650263239',
 'https://www.olx.in/item/suv-toyota-fortuner-automatic-2014-model-iid-1650190353',
 'https://www.olx.in/item/hummer-h3-suv-2007-petrol-iid-1648640594',
 'https://www.olx.in/item/mahindra-commander-armada-bolero-thar-jeep-suv-off-road-type-iid-1634259732',
 'https://www.olx.in/item/alloy-wheels-for-all-cars-suv-price-starting-from-21000-4-iid-1524613407',
 'https://www.olx.in/item/good-condition-suv-car-top-model-iid-1650977853',
 'https://www.olx.in/item/exilent-suv-iid-1650929179',
 'https://www.olx.in/item/cars-suv-bikes-body-guard-roll-iid-1589196181',
 'https://www.olx.in/item/mahindra-quanto-suv-2015-7-seater-iid-1650901693',
 'https://www.olx.in/item/renault-captur-2019-suv-for-sale-dual-tone--iid-1650822454',
 'https://www.olx.in/item/best-7-seater-suv-iid-1650798486',
 'https://www.olx.in/item/suv-and-sedan-cars-i-give-rent-iid-1650683466',
 'https://www.olx.in/item/sparingly-used-personal-honda-brv-v-diesel-suv-iid-1650662486',
 'https://www.olx.in/item/excellent-compact-suv-with-good-mileage-of-22km-per-ltr-iid-1650625135',
 'https://www.olx.in/item/kia-seltos-gt-line-suv-year-2020-petrol-turbo-11000-km-driven-iid-1648332274',
 'https://www.olx.in/item/best-suv-untuch-iid-1650433465',
 'https://www.olx.in/item/hummer-h3-suv-2007-petrol-iid-1637745211',
 'https://www.olx.in/item/for-sale-suv-land-rover-iid-1650305046',
 'https://www.olx.in/item/hummer-h3-suv-2010-petrol-iid-1627702717',
 'https://www.olx.in/item/force-one-suv-iid-1561710472',
 'https://www.olx.in/item/urgent-selling-suv-new-nissan-kicks-iid-1650263239',
 'https://www.olx.in/item/suv-toyota-fortuner-automatic-2014-model-iid-1650190353',
 'https://www.olx.in/item/car-rental-all-india-suv-15-km-iid-1650166577',
 'https://www.olx.in/item/hummer-h2-suv-2020-petrol-iid-1650126447',
 'https://www.olx.in/item/mahindra-bolero-2014-diesel-85000-km-driven-good-condition-suv-iid-1650108652',
 'https://www.olx.in/item/kids-battery-carjeep-big-suv-type-iid-1628666735',
 'https://www.olx.in/item/selling-because-buying-another-suv-iid-1650006882',
 'https://www.olx.in/item/driver-for-car-and-suv-iid-1649996048',
 'https://www.olx.in/item/all-types-of-suvs-and-cars-and-jcb-are-for-sale-iid-1649958935',
 'https://www.olx.in/item/tata-aria-diesel-suv-2011-top-model-iid-1615858473',
 'https://www.olx.in/item/ml-250-benz-suv-5seater-iid-1649844832',
 'https://www.olx.in/item/nissan-kicks-suv-2019-petrol-model-iid-1649801388',
 'https://www.olx.in/item/ertiga-7str-suv-car-self-drive-available-iid-1649795390',
 'https://www.olx.in/item/selling-my-car-roof-carrier-of-suv-iid-1649764447',
 'https://www.olx.in/item/maruti-suzuki-ertiga-family-suv-in-mint-condition-iid-1649743373',
 'https://www.olx.in/item/hyundai-i20-2011-petrol-well-maintained-iid-1644724759',
 'https://www.olx.in/item/nri-owned-rarely-used-car-for-sale-or-exchange-with-suv-iid-1649735804',
 'https://www.olx.in/item/toyota-fortuner-2011-diesel-30-diesel-4wd-mt-suv-iid-1641958756',
 'https://www.olx.in/item/montero-4x4-suv-throwaway-price-iid-1538068049',
 'https://www.olx.in/item/well-maintained-superb-7-seater-suv-iid-1649550457',
 'https://www.olx.in/item/2018-mercedes-benz-gla-200d-sport-edition-4matic-luxury-suv-iid-1649535136',
 'https://www.olx.in/item/it-is-a-suv-well-maintained-iid-1649460157']

In [12]:
len(product_urls)

60

In [16]:
#fetching price of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):
        price_list.append(j.text)
        
except NoSuchElementException:
    price_list.append('-')

In [17]:
price_list

['₹ 4,10,000',
 '₹ 3,50,000',
 '₹ 3,25,000',
 '₹ 2,95,000',
 '₹ 5,00,000',
 '₹ 3,15,000',
 '₹ 3,25,000',
 '₹ 5,00,000',
 '₹ 5,00,000',
 '₹ 5,00,000',
 '₹ 3,80,000',
 '₹ 3,10,000',
 '₹ 3,20,000',
 '₹ 2,95,000']

In [18]:
len(price_list)

14

In [19]:
#fetching model of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_2tW1I"]'):
        model_list.append(j.text)
        
except NoSuchElementException:
    model_list.append('-')

In [20]:
model_list

['2011 Model Tata Safari',
 'Tata Safari for sale',
 '2009 Tata Safari Diesel Well Maintained',
 'Fiat Linea 2007-2013 Emotion Pack (Diesel), 2013, Diesel',
 'Company service tvm regi accidentfree call',
 'Honda City 2008-2011 1.5 V MT Exclusive, 2010, Petrol',
 'Honda City 2010 Petrol Good Condition',
 'Tata Cars available',
 'Tata Cars Available',
 'Tata cars available',
 'Mahindra Xylo D4, 2012, Diesel',
 'Mahindra Xylo 2009-2011 E4, 2011, Diesel',
 'Mahindra Xylo E4 2012 Diesel Good Condition',
 'Mahindra Xylo 2010 Diesel 1 Km Driven']

In [21]:
len(model_list)

14

In [22]:
#fetching year and km of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//div[@class="IKo3_"]/span[2]'):
        year_km_list.append(j.text)
        
except NoSuchElementException:
    year_km_list.append('-')

In [23]:
year_km_list

['2011 - 76,000 km',
 '2008 - 107,000 km',
 '2009 - 138,000 km',
 '2013 - 68,000 km',
 '2014 - 145 km',
 '2010 - 150,000 km',
 '2010 - 152,000 km',
 '2021 - 0 km',
 '2021 - 0 km',
 '2021 - 0 km',
 '2012 - 80,000 km',
 '2011 - 160,000 km',
 '2012 - 102,000 km',
 '2010 - 1 km']

In [24]:
len(year_km_list)

14

In [25]:
#fetching location of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="tjgMj"]'):
        location_list.append(j.text)
        
except NoSuchElementException:
    location_list.append('-')

In [26]:
location_list

['PEROORKADA, THIRUVANANTHAPURAM',
 'VATTIYOORKAVU, THIRUVANANTHAPURAM',
 'PATTOM, THIRUVANANTHAPURAM',
 'KARAMANA, THIRUVANANTHAPURAM',
 'VATTAPARA, THIRUVANANTHAPURAM',
 'NANDAVANAM, THIRUVANANTHAPURAM',
 'KALADY, THIRUVANANTHAPURAM',
 'NEERAMANKARA, THIRUVANANTHAPURAM',
 'NEERAMANKARA, THIRUVANANTHAPURAM',
 'NEERAMANKARA, THIRUVANANTHAPURAM',
 'GOWRI NAGAR, THIRUVANANTHAPURAM',
 'ANAYARA, THIRUVANANTHAPURAM',
 'KARAMANA, THIRUVANANTHAPURAM',
 'ANTHIYOORKONAM, THIRUVANANTHAPURAM']

In [27]:
len(location_list)

14

In [47]:
#Opening the url
url='https://www.olx.in/'
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used minivan cars

In [48]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()

In [49]:
# scrape all product urls
urls=[]
for i in range(0,1):#for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [50]:
urls

['https://www.olx.in/item/i-am-selling-my-mahindra-maxximo-minivan-iid-1650646761',
 'https://www.olx.in/item/mahendra-jeeto-minivan-iid-1650454565',
 'https://www.olx.in/item/mahindra-jeeto-minivan-iid-1645302438',
 'https://www.olx.in/item/mahindra-maximo-minivan-pure-ownboard-2013-iid-1634116453',
 'https://www.olx.in/item/mahindra-jeeto-minivan-taxi-with-all-new-good-codition-iid-1648756956',
 'https://www.olx.in/item/mahindra-maxximo-minivan-iid-1648258560',
 'https://www.olx.in/item/mahindra-maxximo-minivan-iid-1615364531',
 'https://www.olx.in/item/mahindra-maxximo-minivan-iid-1647367907',
 'https://www.olx.in/item/jeeto-minivan-iid-1637137822',
 'https://www.olx.in/item/mahindra-minivan-iid-1646958380',
 'https://www.olx.in/item/maxximo-minivan-iid-1646857231',
 'https://www.olx.in/item/jeeto-minivan-iid-1646146614',
 'https://www.olx.in/item/mahindra-maxximo-minivan-new-battery-new-tyres-engine-work-done-iid-1640830909']

In [51]:
len(urls)

13

In [52]:
#fetching price of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):
        price_list.append(j.text)
        
except NoSuchElementException:
    price_list.append('-')

In [53]:
price_list

['₹ 1,49,999', '₹ 1,80,000', '₹ 1,30,000', '₹ 1,60,000', '₹ 1,88,500']

In [54]:
len(price_list)

5

In [55]:
#fetching year and km of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//div[@class="IKo3_"]/span[2]'):
        year_km_list.append(j.text)
        
except NoSuchElementException:
    year_km_list.append('-')

In [56]:
year_km_list

['2012 - 119,000 km',
 '2011 - 72,000 km',
 '2005 - 112,000 km',
 '2013 - 37,350 km',
 '2009 - 122,000 km']

In [57]:
len(year_km_list)

5

In [58]:
#fetching model of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_2tW1I"]'):
        model_list.append(j.text)
        
except NoSuchElementException:
    model_list.append('-')

In [59]:
model_list

['Mahindra maximo',
 'Mahindra maximo mini van',
 'Tata Sumo Victa 2005 Diesel 112000 Km Driven',
 'Tata Nano 2013 Petrol Good Condition',
 'For sale 2009 model .XYLO E2 M- Eagle CRDE.all paper new']

In [60]:
len(model_list)

5

In [61]:
#fetching location of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="tjgMj"]'):
        location_list.append(j.text)
        
except NoSuchElementException:
    location_list.append('-')

In [62]:
location_list

['AMBALLUR, PUTHUKKAD',
 'TANA, IRINJALAKUDA',
 'KODAKARA, THRISSUR',
 'KODAKARA, THRISSUR',
 'MAHAPURAM, IRINJALAKUDA']

In [63]:
len(location_list)

5

In [12]:
#Opening the url
url='https://www.olx.in/'
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used coupe cars

In [13]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()

In [14]:
# scrape all product urls
urls=[]
for i in range(0,1):#for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [15]:
urls

['https://www.olx.in/item/mercedes-benz-gle-coupe-others-2016-petrol-iid-1633289658',
 'https://www.olx.in/item/bmw-6-series-2011-2014-640d-coupe-2013-diesel-iid-1649901068',
 'https://www.olx.in/item/mercedes-benz-glc-class-43-amg-coupe-2019-petrol-iid-1637979555',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2012-diesel-iid-1626744103',
 'https://www.olx.in/item/mercedes-benz-gle-43-amg-coupe-2019-petrol-25000-km-driven-iid-1651084514',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2013-diesel-iid-1634337552',
 'https://www.olx.in/item/mercedes-benz-e-class-e350-coupe-1985-petrol-iid-1596499962',
 'https://www.olx.in/item/mercedes-benz-glc-class-43-amg-coupe-2018-petrol-iid-1618914805',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2013-diesel-iid-1641050030',
 'https://www.olx.in/item/bmw-6-series-2013-2015-640d-gran-coupe-2013-diesel-iid-1642180963',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2013-diesel-iid-1641049088',
 'https://www.olx.in/item/mercedes-e350-coupe-2-door-sports-iid-1646506213',
 'https://www.olx.in/item/new-tyre-company-service-iid-1651047672',
 'https://www.olx.in/item/audi-tt-32-coupe-quattro-2011-petrol-iid-1648641186',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2014-diesel-iid-1651031796',
 'https://www.olx.in/item/audi-rs5-coupe-2017-petrol-iid-1638396399',
 'https://www.olx.in/item/bmw-6-series-2013-2015-640d-gran-coupe-2013-diesel-iid-1616487164',
 'https://www.olx.in/item/audi-rs5-42-coupe-2014-petrol-iid-1650992589',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2013-diesel-iid-1648570092',
 'https://www.olx.in/item/bmw-6-series-2011-2014-640d-coupe-2013-diesel-iid-1544127766']

In [16]:
len(urls)

20

In [17]:
#fetching price of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):
        price_list.append(j.text)
        
except NoSuchElementException:
    price_list.append('-')

In [18]:
price_list

['₹ 32,00,000', '₹ 31,99,000', '₹ 28,99,999', '₹ 39,99,999']

In [19]:
len(price_list)

4

In [20]:
#fetching year and km of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//div[@class="IKo3_"]/span[2]'):
        year_km_list.append(j.text)
        
except NoSuchElementException:
    year_km_list.append('-')

In [21]:
year_km_list

['2013 - 34,000 km',
 '2013 - 34,000 km',
 '2013 - 34,000 km',
 '2013 - 15,000 km']

In [22]:
len(year_km_list)

4

In [23]:
#fetching model of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="_2tW1I"]'):
        model_list.append(j.text)
        
except NoSuchElementException:
    model_list.append('-')

In [24]:
model_list

['BMW 6 Series 2013-2015 640d Gran Coupe, 2013, Diesel',
 'BMW 6 Series 640d Gran Coupe, 2013, Diesel',
 'BMW 6 Series 640d Gran Coupe, 2013, Diesel',
 'BMW X6 2009-2014 xDrive 40d, 2013, Diesel']

In [25]:
len(model_list)

4

In [26]:
#fetching location of the used car
for i in urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//span[@class="tjgMj"]'):
        location_list.append(j.text)
        
except NoSuchElementException:
    location_list.append('-')

In [27]:
location_list

['BORIVALI WEST, MUMBAI',
 'KANDIVALI WEST, MUMBAI',
 'BORIVALI WEST, MUMBAI',
 'BORIVALI WEST, MUMBAI']

In [28]:
len(location_list)

4

In [84]:
#Opening the url
url='https://www.cars24.com/'
driver.get(url)

#time.sleep(2)
# Asking the user to input the keywords he/she wants to search
#user_inp = input('Enter the product you want to search : ')

In [85]:
search_bar = driver.find_element_by_xpath('//ul[@class="float-right _1yq3e"]/li[3]/a').click()      # Locating search_bar by xpath
#search_bar.clear()                                               # clearing search_bar
#search_bar.send_keys(user_inp)                                   # sending user input to search bar
#search_button = driver.find_element_by_xpath('//button[@class="searchbtn"]')       # Locating search_button by xpath
#search_button.click()

In [86]:
product_urls = []
start=0
end=1
for page in range(start,end):#for loop for scrapping 1 page
    url=driver.find_elements_by_xpath('//div[@class="col-4"]//a')       #scraping urls
    for i in url:
        product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
    #nxt_button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")     #scraping the list of buttons from the page
    #nxt_button.click()
    #time.sleep(2)

In [87]:
product_urls

['https://www.cars24.com/buy-used-Hyundai-VENUE-2021-cars-New-Delhi-1124913747/',
 'https://www.cars24.com/buy-used-Maruti-IGNIS-2020-cars-New-Delhi-1104943044/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-New-Delhi-1002989646/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2013-cars-New-Delhi-1055227042/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2010-cars-New-Delhi-1006568426/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2014-cars-New-Delhi-1057739946/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-Noida-1006047343/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2012-cars-New-Delhi-1001259345/',
 'https://www.cars24.com/buy-used-Maruti-New--Wagon-R-2020-cars-New-Delhi-1001907405/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2011-cars-New-Delhi-1015620526/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2011-cars-New-Delhi-1007020229/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2011-cars-New-Delhi-1008584126/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2014-cars-New-Delhi-1003359209/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2015-cars-Gurgaon-1050718426/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2013-cars-Noida-1128886325/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-New-Delhi-1008987447/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2015-cars-New-Delhi-1003246126/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2015-cars-Noida-1003512122/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2020-cars-Gurgaon-1006239442/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2017-cars-Noida-1009708429/']

In [88]:
len(product_urls)

20

In [91]:
#fetching price of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//div[@class="_19zc5"]'):
        price_list.append(j.text)
        
except NoSuchElementException:
    price_list.append('-')

In [92]:
price_list

['₹6,015/month\n₹2,70,399',
 '₹6,137/month\n₹2,75,899',
 '₹5,755/month\n₹2,58,699',
 '',
 '₹8,277/month\n₹3,72,099',
 '₹8,331/month\n₹3,74,499',
 '₹6,785/month\n₹3,04,999',
 '']

In [93]:
len(price_list)

8

In [94]:
#fetching year and km of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]'):
        year_km_list.append(j.text)
        
except NoSuchElementException:
    year_km_list.append('-')

In [95]:
year_km_list

['50,024 km',
 '32,258 km',
 '1,29,709 km',
 '',
 '15,032 km',
 '2,723 km',
 '22,091 km',
 '']

In [96]:
fuel_list=[]

In [97]:
#fetching fuel of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]'):
        fuel_list.append(j.text)
        
except NoSuchElementException:
    fuel_list.append('-')

In [98]:
fuel_list

['Petrol', 'Petrol', 'Petrol', '']

In [99]:
#fetching model of the used car
for i in product_urls:
    driver.get(i)
    time.sleep(3)
try:
    for j in driver.find_elements_by_xpath('//div[@class="_1jpRU"]/h2'):
        model_list.append(j.text)
        
except NoSuchElementException:
    model_list.append('-')

In [100]:
model_list

['2015 Maruti Alto 800',
 '2017 Renault Kwid',
 '2015 Maruti Alto K10',
 '',
 '2020 Maruti Alto',
 '2015 Maruti Ritz',
 '2015 Maruti Alto 800',
 '']